header.profile {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: dodgerblue;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/*desktop */
@media only screen and (min-width: 1024px) {
  header.profile {
    width: 500px;
    height: 400px;
    margin: 220px 50px;
  }
}

@media only screen and (max-width: 1024px) {
  header.profile {
    padding-top: 120px;;
  }
}