header.profile {
  z-index: 1;
  padding-top: 120px;
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: dodgerblue;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}